body{
    background-color: #000;
    text-align: center;
    
}
h1 , p , a{
    color:#fff;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    font-size: 2vw;
    top:250px;
    
}
h1{
    font-size: 3vw;
}
a{
    text-decoration: none;
    color: #fff;
    border:4px solid white;
    padding: 10px;
    position: relative;
    top:650px;
    text-align: center;
}
@media (max-width:1200px)
{
    p{
        font-size: 40px;
    }
   h1{
       font-size:60px;
    }
    a{
        font-size:40px;
        top:720px
    }
}
@media (max-width:520px)
{
    p{
        font-size: 30px;
        top:180px
    }
   h1{
       font-size:40px;
       top:180px
    }
    a{
        font-size:30px;
        top:320px
    }
}